   <!-- footer content -->
   <footer>
    <div class="pull-right">
      Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
    </div>
    <div class="clearfix"></div>
  </footer>
  <!-- /footer content -->
</div>
</div>

<!-- jQuery -->
<script src="jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- FastClick -->
<script src="fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="skycons/skycons.js"></script>
<!-- Flot -->
<script src="Flot/jquery.flot.js"></script>
<script src="Flot/jquery.flot.pie.js"></script>
<script src="Flot/jquery.flot.time.js"></script>
<script src="Flot/jquery.flot.stack.js"></script>
<script src="Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="jqvmap/dist/jquery.vmap.js"></script>
<script src="jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="moment/min/moment.min.js"></script>
<script src="bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- Custom Theme Scripts -->
<script src="build/js/custom.min.js"></script>
</body>
</html>
