<%- include("../studentView/headerStudent.ejs"); -%>

    <!-- page content -->
    <div class="right_col" role="main">
        <br>
        <h1>Collage news</h1>
        <div class="w3-container w3-teal">
            <h1>I am a Heading</h1>
            <p>I am a paragraph.</p>

        </div>

    </div>

    <!-- /page content -->

    <%- include("../studentView/footerStudent.ejs"); -%>